* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace; 
    background-color: #282828; 
    color: #ebdbb2; 
    line-height: 1.6;
    padding: 20px;
    max-width: 840px;
    margin: auto;
}

input {
    font-family: 'Courier New', Courier, monospace; 
    background-color: #ebdbb2; 
    color: #282828; 
    line-height: 1.6;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    color: #ff9d00; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Press Start 2P', cursive; 
}

h2 {
    font-size: 1.8em;
    color: #8ec07c; 
    margin: 20px 0;
    border-bottom: 2px solid #d65d0e; 
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive; 
}

h3 {
    text-align: center;
    font-family: 'Press Start 2P', cursive; 
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #3c3836;
    border: 1px solid #7c6f64; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace; 
}

a {
    color: #83a598; 
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace; 
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #d65d0e; 
    color: #282828;
    border: 2px solid #7c6f64; 
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace; 
}

button:hover {
    background-color: #ff9d00; 
    border-color: #d65d0e; 
}

img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 10px 0;
}

.film-card {
    background-color: #3c3836;
    border: 1px solid #7c6f64; 
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.film-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); 
}